


  <div id="footer">
      <div class="footerContent">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-uppercase">About McCloud's Music</h5>
            <p>Some text about company here.</p>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase">See More Videos and Photos</h5>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="far fa-envelope fa-2x"></i>
            <i class="fab fa-youtube fa-2x"></i>
          </div>
          <div class="col-md-4">
            <h5 class="text-uppercase">Location</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392995.3258261182!2d-104.96701859160002!3d39.68849833205842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c588622ba2b9b%3A0x8441e0688ba2e678!2sAurora%2C%20CO!5e0!3m2!1sen!2sus!4v1589143259642!5m2!1sen!2sus" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            
          </div>
        </div>
      </div>
    
    <footer id="sticky-footer">
      <div class="container text-center">
        <small><span style="font-size: 16px">Copyright &copy; 2020 | <a href="">Rocky Mountain Code</a></span></small>
      </div>
    </footer>
  </div>