<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img alt="Mcloud-logo" src="./images/mainlogo.png" > </a>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/weddings">Weddings</a>
          <a class="dropdown-item" href="/karaoke">Karaoke</a>
          <a class="dropdown-item" href="/live">Live Music</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

 

    </ul> 
    </div>
  </div>
</nav>
<!--


<nav class="navbar navbar-expand-lg navbar-dark">


  <a class="navbar-brand" href="/"><img alt="Mcloud-logo" src="./images/mainlogo.png" > </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavMenu"
    aria-controls="NavMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="NavMenu">

    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Weddings</a>
          <a class="dropdown-item" href="#">Karaoke</a>
          <a class="dropdown-item" href="#">Live Music</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

 

    </ul>


    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>


</nav>-->