 <!-- The video -->
 <video autoplay muted loop id="myVideo">
    <source src="./videos/stockvid1.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <div class="content-text">
    <h1>BEST LIVE MUSIC IN THE <span style="color: teal;text-shadow: 6px -2px 6px #CC00CC, 1px 1px 4px #fff;">MILE HIGH CITY</span></h1>
    <h3 class="animated slideInRight">From karaoke to private shows, I make sure to bring the good time!</h3>

    <!-- Use a button to pause/play the video with JavaScript onclick="myFunction() -->
    <div class="button">
    <button class="btn btn-default animated pulse infinite slower">View Services <i class="fas fa-music"></i></button>
</div>
    </div>
  </div> 