<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
</head>
<body>
    
<%include partials/menu %>

<%include partials/video %>

   
  
</body>
<% include partials/script %>
<script src="./javascripts/home.js"></script>

</html>