<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./stylesheets/karaoke.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
</head>
<body>
    
<%include partials/menu %>
    <div class="karaokeSection">
        <h1 class="text">Karaoke Services</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 karaokeInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your karaoke services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factOne">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Not a single member of the Beatles could read or write music.</h3>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 factTwo">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>The first (and only) band to play on all seven continents is Metallica.</h3>
                    </div>
                </div>

                <div class="col-lg-6 karaokeInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your karaoke services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 karaokeInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your karaoke services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factThree">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Mozart sold more CDs than Beyoncé in 2016.</h3>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

<%include partials/footer %>
   
  
</body>
<% include partials/script %>

</html>