<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./stylesheets/live.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
</head>
<body>
    
<%include partials/menu %>
    <div class="liveSection">
        <h1 class="text">Live Music Services</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 liveInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your live services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factOne">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Singing in a Group Boosts Mood.</h3>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 factTwo">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>The British Navy Uses Britney Spears Songs to Scare Off Pirates</h3>
                    </div>
                </div>

                <div class="col-lg-6 liveInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your live services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 liveInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your live services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factThree">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Music is Physically Good for Your Heart</h3>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

<%include partials/footer %>
   
  
</body>
<% include partials/script %>

</html>