<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./stylesheets/weddings.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
</head>
<body>
    
<%include partials/menu %>
    <div class="weddingsSection">
        <h1 class="text">Wedding Services</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 weddingsInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your weddings services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factOne">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Catholic wedding ceremonies don’t feature secular music.</h3>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 factTwo">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h4>“Here Comes the Bride” was first used at the royal wedding of Princess Victoria to Prince Frederick William in 1858</h4>
                    </div>
                </div>

                <div class="col-lg-6 weddingsInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your weddings services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6 weddingsInfo">
                    <h1>Some Info Here</h1>
                    <p>talk about your weddings services</p>
                    <a class="btn btn-white">Contact Me</a>
                </div>
                <div class="col-lg-6 factThree">
                    <div class="factText">
                    <h2>Fun Fact:</h2>
                    <h3>Many Indian weddings will feature a satar, dohl or other Indian instruments.</h3>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

<%include partials/footer %>
   
  
</body>
<% include partials/script %>

</html>