 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
    position: absolute;
    min-width: 100%;
    min-height: 80%;
    opacity: .5;
    top: 0;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    background: rgba(245,245,245, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
  }

  .content-text{
text-align: center;
  margin-top: 15%;
  }

  .content-text h1 {
      font-size: 80px;
      font-weight: 800;
      transform: rotate(-10deg);
      margin: 30px 0;
     font-family: 'Permanent Marker', cursive;
    }

    .content-text h3 {
        margin: 100px 0 50px 0;
        font-style: italic;
    }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  } 